.popup {
  @include shadowize;
  @extend .bg-tertiary;
  border: none !important;
  outline: 0;
  margin: -.25em;
  .popup-header {
    @extend .bad;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid gray;
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .popup-close {
    color: white;
    cursor: pointer;
    @extend .bg-secondary;
    padding: 1em 4em;
    margin-right: 1em;
    border-radius: .5em;
    &:hover {
      background-color: darken($shift-buddy-secondary, 10%);
    }
  }
  .popup-delete {
    color: white;
    cursor: pointer;
    @extend .bg-bad;
    padding: 1em 1em;
    border-radius: .5em;
    &:hover {
      background-color: darken($shift-buddy-bad, 10%);
    }
  }

}
