.table{
  @include shadowize;
  .center{text-align: center};
  .right{text-align: right};
  .longer{
    width: 50%;
  }
  thead{
    background-color: lighten($shift-buddy-primary, 10%);
  }
  tbody{
    tr:nth-child(even) {
      background-color: lighten($shift-buddy-tertiary, 8%);
    }
    tr:nth-child(odd) {
      background-color: lighten($shift-buddy-tertiary, 4%);
    }
    .notes{
      color: gray;
      font-size: .85em;
      font-style: italic;
      vertical-align: middle;
    }
  }
  
}
