// Font color classes
.base{
  color: $shift-buddy-base;
}

.primary {
  color: $shift-buddy-primary;
}

.secondary {
  color: $shift-buddy-secondary;
}

.tertiary {
  color: $shift-buddy-tertiary;
}

.good {
  color: $shift-buddy-good;
}

.neutral {
  color: $shift-buddy-neutral;
}

.bad {
  color: $shift-buddy-bad;
}

// Background color classes
.bg-base{
  background-color: $shift-buddy-base;
}

.bg-primary {
  background-color: $shift-buddy-primary;
}

.bg-secondary {
  background-color: $shift-buddy-secondary;
}

.bg-tertiary {
  background-color: $shift-buddy-tertiary;
}

.bg-good {
  background-color: $shift-buddy-good;
}

.bg-neutral {
  background-color: $shift-buddy-neutral;
}

.bg-bad {
  background-color: $shift-buddy-bad;
}
