// Font color classes
.primary {
  color: $shift-buddy-primary;
}

.secondary {
  color: $shift-buddy-secondary;
}

.tertiary {
  color: $shift-buddy-tertiary;
}

.base{
  color: $shift-buddy-base;
}

// Background color classes
.bg-base{
  background-color: $shift-buddy-base;
}

.bg-primary {
  background-color: $shift-buddy-primary;
}

.bg-secondary {
  background-color: $shift-buddy-secondary;
}

.bg-tertiary {
  background-color: $shift-buddy-tertiary;
}
