// Font color classes
.orange {
  color: $shift-buddy-orange;
}

.black {
  color: $shift-buddy-black;
}

.silver {
  color: $shift-buddy-silver;
}

.blue {
  color: $shift-buddy-blue;
}

.beige {
  color: $shift-buddy-beige;
}

// Background color classes
.bg-orange {
  background-color: $shift-buddy-orange;
}

.bg-black {
  background-color: $shift-buddy-black;
}

.bg-silver {
  background-color: $shift-buddy-silver;
}

.bg-blue {
  background-color: $shift-buddy-blue;
}

.bg-beige {
  background-color: $shift-buddy-beige;
}
