body {
  @extend .bg-base;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  line-height: 1.5;
}

footer {
  @extend .bg-tertiary;
  height: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: .25em;
  text-align: center;
}

h1 {
  @extend .secondary;
  text-align: center;
  font-weight: bold;
}

hr {
  height: 1px;
  @extend .bg-secondary;
}

// Nav links
.navbar{ 
  background: $shift-buddy-tertiary ;
  .navbar-header{
    @extend .primary;
    font-size: 1.5em;
    font-weight: bolder;
  }
  .navbar-nav {
    li {
      a {
        @extend .secondary;
      }
    }
  }
}

// Error Alerts
.alert-danger {
  width: 50%;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
}

.employee-container {
  @extend .bg-primary;
  text-align: center;
  margin: 1em;
  border-radius: 1em;
  width: 100%;
    div {
      padding: 1em;
    }
    .employee-header {
      color: white;
    }
    .view-button {
      @extend .bg-secondary;
    }
    .edit-button {
      @extend .bg-tertiary;
    }
    .delete-button {
      @extend .bg-grey;
    }
    
}
