* {
  box-sizing: border-box;
 }
 *:before,
 *:after {
  box-sizing: border-box;
 }

html,
body {
  @extend .bg-base;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  position: relative;
  line-height: 1.5;
}

footer {
  @extend .bg-tertiary;
  height: 2em;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: .25em;
  text-align: center;
}

h1 {
  @extend .secondary;
  text-align: center;
  font-weight: bold;
}

hr {
  height: 1px;
  @extend .bg-secondary;
}

.site-container{
  min-height: 100vh;
  position: relative;
}

.content-container {
  padding-bottom: 2.5em;
}

.center {
  text-align: center;
}

// Nav links
.navbar{ 
  background: $shift-buddy-tertiary ;
  .navbar-header{
    @extend .primary;
    font-size: 1.5em;
    font-weight: bolder;
    &:hover {
      color: lighten($shift-buddy-primary, 10%)
    }
  }
  .navbar-nav {
    li {
      a {
        @extend .secondary;
      }
    }
  }
}

// Error Alerts
.alert-danger {
  width: 50%;
  padding: .5em;
  margin-left: auto;
  margin-right: auto;
}

// Employees
.employee-container {
  text-align: center;
  margin: .5em;
  font-size: 1.25em;
  font-weight: bold;
    div{
      padding: .75em .25em;
    }
    .employee-header {
      @extend .bg-primary;
      border-radius: .5em 0 0 .5em;
      background-image: linear-gradient($shift-buddy-primary,lighten($shift-buddy-primary, 10%))
    }
    .view-button {
      color: white;
      @include buttonize($shift-buddy-secondary);
    }
    .edit-button {
      color: white;
      @include buttonize($shift-buddy-neutral);
    }
    .delete-button {
      color: white;
      border-radius: 0 .5em .5em 0;
      @include buttonize($shift-buddy-bad);
    }
    
}

.employee-page-header, .shift-page-header {
  margin-left: 2em;
}
.add-employee-button, .shift-settings-button {
  margin-left: 2em;
}

// Manager Dashboard
.manager-dashboard{
  text-align: center;
  h2 {
    text-align: center;
    font-weight: bold;
  }
  .side-box {
    margin-top: 4.7em;
    .employees-box {
      padding: .25em .5em 1.5em;;
      border-radius: .5em .5em 0 0;
      background-color: darken($shift-buddy-tertiary, 20%);
      border-bottom: 4px solid white;
      .employees-header {
        color: rgba(255, 255, 255, 0.74);
        font-weight: bold;
        border-bottom: 1px solid rgba(255, 255, 255, 0.74);
        margin-bottom: 1em;
      };
      .employees-name {
        background-color: lighten($shift-buddy-secondary, 20%);
        color: lighten($shift-buddy-tertiary, 20%);
        border-radius: .5em;
        display: block;
        text-decoration: none;
        width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
        &:hover {
          background-color: lighten($shift-buddy-secondary, 10%)
        }
      }
    }
    .shifts-box {
      border-radius: 0 0 .5em .5em;
      padding: .25em .5em 1.5em;
      background-color: lighten($shift-buddy-secondary, 30%);
      .shifts-header {
        font-weight: bold;
        color: rgba(255, 255, 255, 0.767);
        text-align: center;
        border-bottom: 1px solid white;
        margin-bottom: 1em;
      } 
      .shifts-name {
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: lighten($shift-buddy-primary, 10%);
        color: lighten($shift-buddy-base, 15%);
        display: block;
        text-align: center;
        text-decoration: none;
        border-radius: .5em;
        margin-bottom: 1em;
        width: 75%;
        &:hover {
          @extend .bg-primary;
      }
    }
  }
  .view-all {
    color: black;
    text-decoration: none;
    padding: .25em 1em;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    cursor: pointer;
    @extend .bg-base;
    border-radius: .5em;
    margin-top: 1em;
    &:hover {
      background-color: darken($shift-buddy-base, 10%);
    }
  }
}

  
  .log-card {
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    border-radius: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: darken($shift-buddy-tertiary, 10%);
    @extend .primary;
  }
}

// Inventory Items
.inventory-container {
  text-align: center;
  margin: 0.75em 1.5rem;
  font-size: 1em;
  font-weight: bold;
    div{
      padding: .5em .25em;
    }
    .inventory-header {
      @extend .bg-primary;
      border-radius: .5em 0 0 .5em;
      background-image: linear-gradient($shift-buddy-primary,lighten($shift-buddy-primary, 10%))
    }
    .delete-button {
      color: white;
      border-radius: 0 .5em .5em 0;
      width: 4rem;
      @include buttonize($shift-buddy-bad);
    }
    
}